# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# Build artifacts
build/
dist/
*.egg-info/
*.spec

# Logs / temp
*.log
*.tmp
*.bak

# IDE/Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Specific project outputs
# （如果你需要保留 .spec 文件就注释掉这一行）
XML同步修改工具_*.spec


*.png
*.zip

./release/
./dist/
./build/
./__pycache__/
./*.pyc

*.sh